:root {
  --color: red;
  --bg: black;
  --picw: 500px;
  --button-size:50px;
}

body{
    background-color: var(--bg);
    color: var(--color);
    
}
@keyframes ani1{
  0%{
    opacity: 0;
    left: -50px;
  }
  100%{
    opacity: 100%;
    left:0px;
  }
}
@keyframes ani2{
  0%{
    opacity: 0;
    top: 35%;
  }
  100%{
    opacity: 100%;
    top:30%;
  }
}
@keyframes ani3{
  0%{
    opacity: 0;
    top:-50px;
  }
  100%{
    opacity: 100%;
    top:0;
  }
}
@keyframes ani4{
  0%{
    opacity: 0;
    top:10%;
  }
  100%{
    opacity: 100%;
    top:15%;
  }
}

/* Navigation bar styling */

.heading{
  letter-spacing: 4px;
  font-weight:bold;
  font-family: fantasy;
  font-style: italic;
}

#header{
   z-index: 2;
   position: fixed; 
   top: 0;
   left: -10px;
   width:100%;
   border:solid;
   border-color: var(--color);
   border-width: 10px;
   background-color: var(--bg);

  }
  #title{
      
      position: relative;
      width: 600px;
      height: 100px;
      padding:20px;
  }
  #navbar{
    display: inline;
  }
  #navbar a{
    padding-right: 100px;
    position: relative;
    bottom: 40px;
    text-decoration: none;
    font-size: 60px;
    color: var(--color);
  }
  #navbar a:hover{
    font-size: 70px;
    color:white;
  }

/* Main Page styling */
  section{
    width: 100%;
  }
  #welcome-section{
    height:100vh;
  }
  .welcome{
    top: 35%;
    text-align:center;
    position:relative;
    font-size: 80px;
  }
  .animated1{
    opacity: 0;
    animation-name: ani1;
    animation-duration: 3s;
    animation-delay:3.5s;
    animation-fill-mode: forwards;
  }
  #Heading1{
    font-size: 100px;
    animation-name: ani1;
    animation-delay:1s;
    animation-duration: 3s;
  }
  #Heading2{
    animation-name: ani1;
    animation-delay:2s;
    animation-duration: 3s;
  }
  #war{
    position: absolute;
    float: left;
    left: 20px;
    top: 20%;
  }
  h1.about{
    font-size: 60px;
    font-style: normal;
    text-align: center;
  }
  p.about{
    font-size: 30px;
  }
  .contact{
    position: relative;
    top: 200px;
  }
  u.contact{
    font-style: normal;
    font-size: 60px;
    left: 42%;
  }
  em.contact{
    font-size: 40px;
    margin-left: 7%;
    margin-right: 9%;
    padding-bottom: 50px;
  }

  /* Submission Page styling */
  #sub-sec{
    height: 100vh;
    text-align: center;
  }
  #subh{
    font-size: 60px;
    opacity: 0;
    animation-name: ani1;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  #submission{
    position: relative;
    top: 25%;
    opacity: 0;
    animation-name: ani2;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
  form > input[type="text"],form > input[type="email"],form > input[type="date"] {
    text-align: center;
    margin:20px 0 20px 0;
    width: 350px;
    height: 30px;
    border-style: solid;
    border-color: var(--color);
    background-color: rgb(75, 0, 0);
    color: white;
    border-width: 5px;
  }
  form > label{
    font-size: 30px;
  }
  .form-img{
    position: relative;
    top: 30%;
    display: inline;
    width: 600px;
    opacity: 0;
    animation-name: ani2;
    animation-duration: 2s;
    animation-delay:0.5;
    animation-fill-mode: forwards;
  }
  #McGregor{
    float: left;
  }
  #Adesanya{
    float: right;
  }
 /* Event Page styling */
 #events-title{
  position: relative;
  text-align: center;
  text-transform: capitalize;
  font-size: 80px;
  opacity: 0;
  animation-name: ani4;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;

 }
 .animated2{
  animation-delay: ;

 }
 .events-table{
   left:10%;
   text-align: center;
   position: relative;
   top: 30%;
   font-family: fantasy;
   font-size: 60px;
   opacity: 0;
  animation-name: ani2;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
 }
 .events-table td{
   padding-bottom: 120px;
 }
  td a{
    text-decoration: none;
    font-size: 60px;
  }
  td a:hover{
    font-size: 70px;
    color:white;
  }
 td.heading{
   padding-bottom: 0px;
   font-style: normal;
   font-weight: normal;
 }
 .fighter{
   width: var(--picw);
 }

 /* Gallery Page styling */
.gallery-img{
  position: relative;
  left:30%;
  width: 600px;
  display: inline;
  opacity: 0;
  animation-name: ani4;
  animation-duration: 3s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  
}
.change-buttons{
  z-index: 1;
  width: var(--button-size);
  height: var(--button-size);
  font-size: 35px;
  text-align: center;
  position: relative;
  left: 34.5%;
  opacity: 0;
  animation-name: ani3;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
#next{
  left: 63%;
}
#changing-text{
  font-size: 40px;
  position: relative;
  text-align: center;
  font-style: normal;
  opacity: 0;
  animation-name: ani4;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.gallery-video{
  margin: 10px 30px 50px 30px;
}
