#header{
    z-index: 2;;
   position: fixed; 
   top: 0;
   left: -10px;
   width:100%;
   background-color:black; 
   border:solid;
   border-color: red;
   border-width: 10px;
   font-weight:bold;
  }
  #title{
      position: relative;
      width: 600px;
      height: 100px;
      padding:20px;
  }
  #navbar{
    display: inline;
  }
  #navbar a{
    padding-right: 100px;
    position: relative;
    bottom: 40px;
    font-family: fantasy;
    text-decoration: none;
    font-style: italic;
    letter-spacing: 4px;
    color: red;
    font-size: 60px;
  }