:root {
  --color: red;
  --bg: black;
}

body{
    background-color: var(--bg);
    color: var(--color);
    
}
/* Navigation bar styling */

.heading{
  letter-spacing: 4px;
  font-weight:bold;
  font-family: fantasy;
  font-style: italic;
}

#header{
   z-index: 2;
   position: fixed; 
   top: 0;
   left: -10px;
   width:100%;
   border:solid;
   border-color: var(--color);
   border-width: 10px;
   background-color: var(--bg);

  }
  #title{
      
      position: relative;
      width: 600px;
      height: 100px;
      padding:20px;
  }
  #navbar{
    display: inline;
  }
  #navbar a{
    padding-right: 100px;
    position: relative;
    bottom: 40px;
    text-decoration: none;
    font-size: 60px;
    color: var(--color);
  }

/* Main Page styling */
  section{
    width: 100%;
  }
  #welcome-section{
    height:100vh;
  }
  .welcome{
    top: 30%;
    text-align:center;
    position:relative;
    font-size: 80px;
  }

  h1.about{
    font-size: 60px;
    font-style: normal;
    text-align: center;
  }
  p.about{
    font-size: 30px;
  }
  .contact{
    position: relative;
    top: 200px;
  }
  u.contact{
    font-style: normal;
    font-size: 60px;
    left: 42%;
    
  }
  em.contact{
    font-size: 40px;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 50px;
  }

  /* Submission Page styling */